@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 16px;
        --font_size_title: 40px;
    }


    header .menu .item {
        margin-right: 30px;
    }
    .first_section .title {
        padding: 76px 0 96px;
    }
    .first_section {
        margin-bottom: 45px;
    }
    .quote_text {
        font-size: 20px;
        padding: 30px 0 30px;
    }
    .quote,
    .about {
        margin-bottom: 50px;
    }
    .about_desc {
        font-size: 18px;
    }
    .news {
        padding: 40px 0 40px;
    }
    .news_title {
        margin-bottom: 15px;
    }
    .news_item-title {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .news_item {
        padding-bottom: 20px;
        padding-top: 15px;
    }
    .news_link {
        margin: 25px auto 0px;
    }

    .text_block img {
        width: 370px;
        height: 233px;
    }
    .text_block p {
        margin-bottom: 20px;
    }
    .text_block {
        margin-bottom: 40px;
    }
    .trend {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .trend_items {
        flex-wrap: wrap;
        margin-left: -20px;
        margin-bottom: -30px;
    }
    .trend_items > * {
        margin-left: 20px;
        margin-bottom: 30px;
        width: calc(100%/2 - 20px);
    }
    .trend_item-img {
        margin-bottom: 15px;
    }
    .trend_item-title {
        font-size: 18px;
    }
    .trend_title {
        margin-bottom: 30px;
    }
    .contacts_info {
        width: 305px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacts .map_wrap {
        margin-left: 350px;
        width: 100%;
    }
    .text_block-title {
        margin-bottom: 30px;
    }

    .staff_title {
        margin-bottom: 25px;
    }
 


    

    
}
