@media print, (max-width: 767px) {

    :root {
        --font_size_title: 28px;
    }
   
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 107;
        top: 0;
        left: 0;

        display: flex;
        overflow: auto;

        width: 295px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 30px 20px;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    header .menu .item > a {
        display: block;
        height: auto;
        padding: 17px 0;
        text-align: left;
        color: #000;
    }  
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #595959;
    }


    .first_section .title {
        padding: 90px 0 90px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets, 
    .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 20px;
    }
    .first_section {
        margin-bottom: 35px;
    }
    .quote_text {
        font-size: 17px;
        padding: 20px 0 20px;
    }
    .quote, 
    .about {
        margin-bottom: 30px;
    }
    .about_desc {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .about_items {
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .about_items > * {
        width: 100%;
        margin-left: 0px;
    }
    .about_item-title {
        font-size: 24px;
        margin-bottom: 0;
    }
    .news_item-title {
        font-size: 17px;
        margin-bottom: 8px;
        margin-top: 5px;
    }
    footer .cont {
        flex-direction: column;
        justify-content: center;
    }
    .footer_copyright {
        margin-bottom: 10px;
        font-size: 14px;
    }
    footer {
        padding: 30px 0 30px;
    }
    .footer_politic {
        text-align: center;
        font-size: 14px;
    }

    .buttonUp button {
        width: 60px;
        height: 60px;
        background-size: cover;
    }


    .text_block img {
        width: 100%;
        height: auto;
    }
    .text_block-title {
        margin-bottom: 20px;
    }
    .title-line {
        padding-bottom: 10px;
    }
    .trend_title {
        margin-bottom: 20px;
    }
    .text_block {
        margin-bottom: 25px;
    }
    .trend {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .contacts .map_wrap {
        position: relative;
        margin-left: 0;
        height: 280px;
    }
    .contacts_info {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }
    .contacts .cont {
        flex-direction: column;
    }
    .contacts {
        height: 100%;
        padding-top: 25px;
    }
    .contacts_title {
        text-align: center;
        margin-bottom: 20px;
    }
    .contacts_mail {
        margin-bottom: 12px;
    }
    .about_item-link {
        margin: auto;
    }
    .contacts_soc {
        margin-top: 25px;
        margin-bottom: 25px;
        justify-content: center;
    }
    .text_block p {
        margin-bottom: 10px;
    }
    .staff_title {
        margin-bottom: 5px;
    }

 








}
