@media (max-width: 479px) {

    :root {
        --font_size_title: 26px;
    }

    header .logo img:first-child {
        padding-right: 10px;
    }
    header .logo img:last-child {
        padding-left: 10px;
    }

 

   
}
