@media print, (max-width: 1187px) {

    .text_block img {
        width: 450px;
        height: 283px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .staff_title {
        margin-bottom: 40px;
    }





}
