/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --bg2: #18A0FB;
    --scroll_width: 17px;
    --text_color: #000;
    --text_color2: rgba(0, 0, 0, 0.8);
    --font_size: 18px;
    --font_size_title: 25px;
    --font_family: 'Montserrat', sans-serif;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1435px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/
header {
    z-index: 103;
    padding-top: 11px;
    padding-bottom: 11px;
    background: #F7F7F7;
    margin-bottom: 22px;
    width: 100%;
    height: 79px;
    position: fixed;
    top: 0;
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact_callback {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: var(--bg2);
    border-radius: 6px;
    padding: 10px;
    width: 130px;
    height: 40px;
    transition: background .4s;
    text-align: center;
}
.contact_callback:hover {
    background: #0782d5;
}
header .cont {
    position: relative;
}
header .logo {
    color: currentColor;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
header .logo img {
    display: block;
    width: 70%;
}

header .mob_menu_btn {
    display: none;

    width: 30px;
    height: 28px;
    margin-right: 0px;
    margin-left: auto;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}
header .mob_menu_btn .icon {
    display: block;

    width: 20px;
    height: 18px;
}

header .close_btn {
    color: #000;
    
    position: absolute;
    top: 18px;
    right: 23px;

    display: none;

    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .close_btn img {
    display: block;
    width: 28px;
}


header .menu .item {
    margin-right: 33px;
}

header .menu .item:last-child {
    margin-right: 0;
}

header .menu .item > a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: var(--bg2);

    position: relative;

    display: flex;

    transition: color .2s linear;
    text-align: center;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu .item:hover>a,
header .menu .item.current-menu-item>a {
    color: #476FFD;
}
.contact_callback-mob {
    display: none;
}
header .logo-mob {
    display: none;
}


/* first-section */

.first-section {
    margin-top: 120px;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
}
.first-section_info {
    max-width: 688px;
    width: 100%;
    margin-top: 45px;
    margin-right: 30px;
}
.first-section_title {
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    letter-spacing: -0.015em;
    color: var(--text_color);      
    margin-bottom: 60px;
}
.first-section_text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 50px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}
.first-section_img {
    margin-top: 95px;
    width: 512px;
    height: 505px;
    flex-shrink: 0;
}
.first-section_img img {
    width: 100%;
    height: 100%;
}



/* description */

.description {
    margin-bottom: 36px;
    margin-top: -12px;
}
.description_title {
    margin-bottom: 67px;
}
.title {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 80px;
    letter-spacing: -0.015em;
    color: var(--text_color);  
    text-transform: uppercase;
}
.description ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 81px;
    margin-left: -35px;
}
.description ul:last-child {
    margin-bottom: 0;
}
.description ul li {    
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    position: relative;
    padding-left: 52px;
    width: calc(50% - 35px);
    margin-left: 35px;
    margin-bottom: 60px;
}
.description ul li::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.description ul li::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}



/* realization */

.realization {
    margin-bottom: 29px;
}
.realization_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.realization_info {
    max-width: 683px;
    width: 100%;
    margin-right: 30px;
}
.realizationn_title {
    margin-bottom: 90px;
}
.realization_text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 50px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}
.realization_img {
    width: 642px;
    height: 644px;
    flex-shrink: 0;
}
.realization_img img {
    width: 100%;
    height: 100%;
}


/* components */
.components {
    margin-bottom: 90px;    
}
.components_items {
    display: flex;
    margin-bottom: -100px;
    margin-left: -25px;
    flex-wrap: wrap;
}
.components_title {
    margin-bottom: 35px;
}
.components_items > * {
    margin-bottom: 80px;
    margin-left: 25px;
    width: calc(100%/2 - 25px);
}
.title2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: var(--text_color);    
    margin-bottom: 25px;
}
.components_item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    margin-bottom: 42px;
}
.components ul {
    list-style: none;
}
.components ul li {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    position: relative;
    padding-left: 50px;
}
.components ul li::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.components ul li::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}
.components_item:last-child {
    width: 100%;
}
.components_item-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}
.components_item:last-child .components_item-info {
    margin-top: 70px;
}
.components_item:last-child .components_item-title {
    margin-bottom: 125px;
}
.components_item:last-child .components_item-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 38px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: var(--text_color);    
    margin-bottom: 0;
}
.components_item-img {
    flex-shrink: 0;
    width: 563px;
    height: 537px;
}
.components_item-img img {
    width: 100%;
    height: 100%;
}
.components_item:last-child .components_item-info {
    width: calc(50% - 25px);
}


/* installation */

.installation {
    margin-bottom: 72px;
}
.installation_text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 50px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    margin-bottom: 50px;
}
.installation_items {
    display: flex;
    margin-bottom: -100px;
    margin-left: -25px;
    flex-wrap: wrap;
}
.installation_items > * {
    margin-bottom: 100px;
    margin-left: 25px;
    width: calc(100%/2 - 25px);
}
.installation_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: var(--text_color);  
    margin-bottom: 23px;
}
.installation_item-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    margin-bottom: 42px;
}
.installation ul {
    list-style: none;
}
.installation ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    position: relative;
    padding-left: 50px;
}
.installation ul li::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.installation ul li::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}
.installation_item:last-child {
    width: 100%;
}



/* callback */
.callback {
    padding: 63px 0 69px;
    background: #E5E5E5;
    margin-bottom: 70px;
}
.callback_wrap {
    display: flex;
    margin-bottom: 60px;
}
.callback_left {
    margin-right: 70px;
    max-width: 633px;
    width: 100%;
}
.callback_left-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    color: var(--text_color);  
    margin-bottom: 85px; 
    margin-top: 10px; 
}
.callback_phone {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: var(--text_color);  
    text-decoration: none;
    margin-bottom: 128px;
}
.callback_email {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    color: var(--text_color);  
    text-decoration: none;
    margin-bottom: 24px;
}
.callback_email span {
    white-space: nowrap;
}
.callback_email b {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: var(--text_color);  
    margin-right: 8px;
}
.callback_phone img,
.callback_email img {
    margin-right: 17px;
}
.callback_right {
    max-width: 512px;
    width: 100%;
}
.callback_right-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: var(--text_color);  
    margin-bottom: 12px;
}
.callback_right-text {
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
    color: #A2A1B2; 
    margin-bottom: 60px;
}
.callback form label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text_color);  
    margin-bottom: 8px; 
    display: block;
}
.callback form input {
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    height: 48px;  
    border: none;
    padding: 0 16px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--text_color);  
}
.callback form .line {
    margin-bottom: 24px;
}
.callback form button {
    width: 100%;
    height: 48px;    
    background: var(--bg2);
    border-radius: 4px;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 40px;
}
.callback form button:hover {
    background: #0782d5;
}
.form-politic {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #A2A1B2;
}
.callback_price {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: var(--text_color);     
}
.callback_price a {
    color: var(--bg2);
}


/* requirements */
.requirements {
    margin-bottom: 127px;
}
.requirements_title {
    margin-bottom: 90px;
}
.requirements_items {
    display: flex;
    justify-content: flex-start;
    margin-left: -60px;
    margin-bottom: 22px;
}
.requirements_items > * {
    width: calc(100%/5 - 60px);
    margin-left: 60px;
}
.requirements_item-title {
    text-align: center;
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}
.requirements_item-img {
    text-align: center;
}
.requirements_item-img-hov {
    display: none;
}
.requirements ul {
    padding: 35px 20px 39px;
    border: 1px solid var(--bg2);
    border-radius: 11px;
    list-style: none;
}
.requirements ul li {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color);  
    margin-bottom: 18px;
}
.requirements ul li:last-child {
    margin-bottom: 0;
}




/* documents */
.documents {
    margin-bottom: 93px;
}
.documents_title {
    margin-bottom: 64px;
}
.documents_items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -60px;
}
.documents_items > * {
    width: calc(100%/6 - 60px);
    margin-left: 60px;
}
.documents_item {
    text-decoration: none;
}
.documents_item-img {
    text-align: center;
}
.documents_item-title {
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}



/* clients */
.clients {
    margin-bottom: 71px;
}
.clients_title {
    margin-bottom: 61px;
}
.clients_items {
    display: flex;
    align-items: center;
    margin-left: -90px;
    padding-left: 43px;
    overflow: auto;
}
.clients_items::-webkit-scrollbar { 
    width: 0; 
}
.clients_items { 
    -ms-overflow-style: none; 
}
.clients_items { 
    overflow: -moz-scrollbars-none; 
}
.clients_items > * {
    width: calc(100%/4 - 90px);
    margin-left: 90px;
}
.clients_item:nth-child(1) img {
    width: 274px;
    height: 92px;
}


/* requisites */
.requisites {
    margin-bottom: 62px;
}
.requisites_title {
    margin-bottom: 47px;
}
.requisites ul {
    list-style: none;    
    margin-left: 23px;
}
.requisites ul li {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    position: relative;
    padding-left: 63px;
}
.requisites ul li:last-child {
    margin-bottom: 0;
}
.requisites ul li::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.requisites ul li::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}



/* text_block */
.text_block {
    margin-bottom: 61px;    
}
.text_block-wrap {
    padding-top: 62px;
    border-top: 1px solid var(--bg2);
}
.text_block p {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 50px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}




footer {
    margin-bottom: 57px;
}
.footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
    border-bottom: 1px solid var(--bg2);
    margin-bottom: 30px;
}
.footer_top ul {
    display: flex;
    align-items: center;
    list-style: none;    
}
.footer_top ul li {
    margin-right: 46px;
}
.footer_top ul li:last-child {
    margin-right: 0;
}
.footer_top ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.015em;
    color: var(--bg2);
}
.footer_bottom-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 21px;
}
.footer_bottom-link a:first-child {
    margin-right: 137px;
}
.footer_copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--text_color2);
}
.footer_logo {
    margin-left: 230px;
}







.buttonUp {
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
}
.buttonUp button {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: url(../images/button_up.svg);
}




/*----------
    Tabs
----------*/

.tabs {
    display: flex;
    margin-bottom: 44px;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    overflow: auto;
}
.tabs button {
    position: relative;
    display: flex;
    transition: all .4s linear;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.tabs button + button {
    margin-left: 2px;
}
.tabs button:hover .requirements_item-img-hov {
    display: block;
}
.tabs button:hover .requirements_item-img {
    display: none;
}
.tabs button.active .requirements_item-img-hov {
    display: block;
}
.tabs button.active .requirements_item-img {
    display: none;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
}
.tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .5s linear;
    pointer-events: auto;
    opacity: 1;
}



.requirements-po .tabs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: -110px;
    margin-bottom: 40px;
}
.requirements-po .tabs > * {
    width: calc(100%/5 - 110px);
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.requirements-po ul {
    list-style: none;
    padding: 41px 20px 55px;
}
.requirements-po ul li {
    margin-bottom: 19px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 30px;
    letter-spacing: -0.015em;
    color: var(--text_color2);
    position: relative;
    padding-left: 50px;
}
.requirements-po ul li::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.requirements-po ul li::after {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--bg2);
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}
.tabs::-webkit-scrollbar { 
    width: 0; 
}
.tabs { 
    -ms-overflow-style: none; 
}
.tabs { 
    overflow: -moz-scrollbars-none; 
}


.modal {
    display: block;
    display: none;
    visibility: visible !important;
    max-width: 480px;
    width: 100%;
    border-radius: 15px;
    max-width: 100%;
    padding: 45px 30px 30px;
    background: rgb(241, 240, 240);
    position: relative;
}
.modal .callback_right-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--text_color);
    margin-bottom: 10px;
}
.modal .callback_right-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #A2A1B2;
    margin-bottom: 25px;
}
.modal .callback form label {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--text_color);
    margin-bottom: 5px;
    display: block;
}

